In [116]:
##Plotly
import plotly.offline as py
import plotly.graph_objs as go
py.init_notebook_mode(connected=True)
#MongoDB
from pymongo import MongoClient 
#Pandas
import pandas as pd
import numpy as np

In [91]:
#conexao Banco
conn = MongoClient('localhost',27017)
db = conn.PremierLeague

In [92]:
#lista as collections
db.list_collection_names()

['Rodadas', 'score', 'Rank']

In [93]:
#seleciona collection
premier = db['Rank']

In [95]:
#Cria DataFrame
df_premier = pd.DataFrame (list(premier.find({})))

In [96]:
#remove coluna 'id'
df_premier.drop('_id',inplace=True,axis=1)

In [97]:
#Tipos das variaveis
df_premier.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 10 columns):
D         760 non-null object
Dif       760 non-null object
L         760 non-null object
M         760 non-null object
Pt        760 non-null object
Rodada    760 non-null int64
Team      760 non-null object
W         760 non-null object
goals     760 non-null object
rank      760 non-null object
dtypes: int64(1), object(9)
memory usage: 59.5+ KB

In [98]:
#verificando se ha valores nulos
df_premier.count().isnull()

D         False
Dif       False
L         False
M         False
Pt        False
Rodada    False
Team      False
W         False
goals     False
rank      False
dtype: bool

In [100]:
#seleciona campos com tipo 'object'
colunas = df_premier.select_dtypes(include=['object']).columns
#cria lista
campos_branco={}

#loop para verficar campos com valores em branco
for col in colunas:
    campos_branco.update({col:df_premier.loc[df_premier[col] == ''][col].count()})
    #print(col)

print(campos_branco)

{'D': 0, 'Dif': 0, 'L': 0, 'M': 0, 'Pt': 0, 'Team': 0, 'W': 0, 'goals': 0, 'rank': 12}

In [60]:
campo_vazio=[]
col='Rodada'
campo_vazio.append(verif_campo(col,0,df_premier))
print(campo_vazio)

[0]

In [117]:
df_premier['rank'] = np.where(df_premier['rank']=='',df_premier.index,df_premier['rank'])
df_premier.head(20)

    D Dif  L  M Pt  Rodada                    Team  W goals rank
0   0   4  0  1  3       1       Manchester United  1   4:0    1
1   0   3  0  1  3       1       Huddersfield Town  1   3:0    2
2   0   2  0  1  3       1         Manchester City  1   2:0    3
3   0   2  0  1  3       1       Tottenham Hotspur  1   2:0    3
4   0   1  0  1  3       1              Arsenal FC  1   4:3    5
5   0   1  0  1  3       1              Burnley FC  1   3:2    6
6   0   1  0  1  3       1              Everton FC  1   1:0    7
7   0   1  0  1  3       1    West Bromwich Albion  1   1:0    7
8   1   0  0  1  1       1            Liverpool FC  0   3:3    9
9   1   0  0  1  1       1              Watford FC  0   3:3    9
10  1   0  0  1  1       1          Southampton FC  0   0:0   11
11  1   0  0  1  1       1            Swansea City  0   0:0   11
12  0  -1  1  1  0       1          Leicester City  0   3:4   13
13  0  -1  1  1  0       1              Chelsea FC  0   2:3   14
14  0  -1  1  1  0       1         AFC Bournemouth  0   0:1   15
15  0  -1  1  1  0       1              Stoke City  0   0:1   15
16  0  -2  1  1  0       1  Brighton & Hove Albion  0   0:2   17
17  0  -2  1  1  0       1        Newcastle United  0   0:2   17
18  0  -3  1  1  0       1          Crystal Palace  0   0:3   19
19  0  -4  1  1  0       1         West Ham United  0   0:4   20